:root {
  --font-primary: "Open Sans", sans-serif;

  --text-base-size: 1.2rem;
  --text-weight: 400;
  --text-line-height: 1.6;
}

body {
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  font-weight: var(--text-weight);
  line-height: var(--text-line-height);
}

tr > td {
  font-size: .875rem;
  height: 48px;
  word-wrap: break-word;
  text-align: start;
}

tr > th {
  user-select: none;
  font-size: .75rem;
  font-weight: bold;
  text-align: start;
  color: var(--color-contrast-medium);
}

.font-primary {
  font-family: var(--font-primary);
}